@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.navLink {
  transition: background-color 0.4s ease;
}

.navLink:hover {
  background-color: #cfedfd;
}

.btnSky {
  transition: background-color 0.4s ease;
}

.btnSky:hover {
  background-color: #8ad4fc;
}
